<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mode1</key>
	<array>
		<dict>
			<key>iconFileName</key>
			<string>sad-75x85.png</string>
			<key>fileName</key>
			<string>sad.png</string>
			<key>ID</key>
			<integer>100</integer>
			<key>mediaType</key>
			<string>MediaTypePhoto</string>
			<key>answer</key>
			<string>Sad</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>happy-75x85.png</string>
			<key>fileName</key>
			<string>happy.png</string>
			<key>ID</key>
			<integer>101</integer>
			<key>mediaType</key>
			<string>MediaTypePhoto</string>
			<key>answer</key>
			<string>Happy</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>angry-75x85.png</string>
			<key>fileName</key>
			<string>anger.png</string>
			<key>ID</key>
			<integer>102</integer>
			<key>mediaType</key>
			<string>MediaTypePhoto</string>
			<key>answer</key>
			<string>Anger</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>surprised-75x85.png</string>
			<key>fileName</key>
			<string>surprised.png</string>
			<key>ID</key>
			<integer>103</integer>
			<key>mediaType</key>
			<string>MediaTypePhoto</string>
			<key>answer</key>
			<string>Surprised</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>afraid-75x85.png</string>
			<key>fileName</key>
			<string>fear.png</string>
			<key>ID</key>
			<integer>104</integer>
			<key>mediaType</key>
			<string>MediaTypePhoto</string>
			<key>answer</key>
			<string>Fear</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>disgusted-75x85.png</string>
			<key>fileName</key>
			<string>disgust.png</string>
			<key>ID</key>
			<integer>105</integer>
			<key>mediaType</key>
			<string>MediaTypePhoto</string>
			<key>answer</key>
			<string>Disgust</string>
		</dict>
	</array>
	<key>Mode2</key>
	<array>
		<dict>
			<key>iconFileName</key>
			<string>scene-ice cream.png</string>
			<key>fileName</key>
			<string>billy_drop_icecream</string>
			<key>ID</key>
			<integer>200</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Sad</string>
			<key>videoDescription</key>
			<string>Billy is enjoying his ice-cream when suddenly he drops it!



How is Billy feeling?</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>scene-spider.png</string>
			<key>fileName</key>
			<string>Billy_scared_by_Spider</string>
			<key>ID</key>
			<integer>201</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Afraid</string>
			<key>videoDescription</key>
			<string>Billy is drawing on a piece of paper when a spider crawls onto his desk.


How is Billy feeling?</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>scene-pulling hair.png</string>
			<key>fileName</key>
			<string>Billy_make_Suzy_Angry</string>
			<key>ID</key>
			<integer>202</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Angry</string>
			<key>videoDescription</key>
			<string>Suzy and Billy are playing when Billy suddenly pulls her hair.


How is Suzy feeling?</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>scene-Billy surprises Suzy.png</string>
			<key>fileName</key>
			<string>Suzy_suprised_by_Billy</string>
			<key>ID</key>
			<integer>203</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Surprised</string>
			<key>videoDescription</key>
			<string>Suzy is playing alone when Billy jumps out from behind a desk and says &quot;Hi!&quot;. Suzy jumps back slightly.


How is Suzy feeling?</string>
		</dict>
        <dict>
			<key>iconFileName</key>
			<string>broken-bear-75x85.png</string>
			<key>fileName</key>
			<string>Suzy_findbearbroken</string>
			<key>ID</key>
			<integer>204</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Sad</string>
			<key>videoDescription</key>
			<string>Suzy goes to play with her favourite toy when she sees that it is broken
                
                
What is Suzy feeling? </string>
		</dict>
        <dict>
			<key>iconFileName</key>
			<string>play-ball-75x85.png</string>
			<key>fileName</key>
			<string>Billy_Suzy_playball</string>
			<key>ID</key>
			<integer>205</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Happy</string>
			<key>videoDescription</key>
			<string>Billy and Suzy are playing together, tossing a ball back and forth.
                
                
What is Billy feeling? </string>
		</dict>
	</array>
	<key>Mode3</key>
    <array>
        <dict>
			<key>iconFileName</key>
			<string>ice-cream.png</string>
			<key>fileName</key>
			<string>Billy_dontlike_Icecreamsuzygave</string>
			<key>ID</key>
			<integer>300</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Give it back to Suzy and say &quot;No thank you.&quot;</string>
			<key>videoDescription</key>
			<string>Suzy gives Billy an ice cream cone, but Billy doesn’t want it.
                
                
What should he do?</string>
		</dict>
        <dict>
			<key>iconFileName</key>
			<string>billy-destroying.png</string>
			<key>fileName</key>
			<string>Billy_Angry_Destorying</string>
			<key>ID</key>
			<integer>301</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Tell the teacher</string>
			<key>videoDescription</key>
			<string>Billy is angry and is breaking people’s toys.
                
                
What should Suzy do?</string>
		</dict>
        <dict>
			<key>iconFileName</key>
			<string>suzy-cry-bear.png</string>
			<key>fileName</key>
			<string>Billy_find_Suzy_Cryforbearbroken</string>
			<key>ID</key>
			<integer>302</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Comfort Suzy</string>
			<key>videoDescription</key>
			<string>Billy sees Suzy crying in a corner. Her toy is broken.
                
                
What should Billy do?</string>
		</dict>
        <dict>
			<key>iconFileName</key>
			<string>billy-suzy-fight.png</string>
			<key>fileName</key>
			<string>Billy_Suzy_Fight_Billywalkaway</string>
			<key>ID</key>
			<integer>303</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Talk to Billy and apologize</string>
			<key>videoDescription</key>
			<string>Billy and Suzy get into a fight, and Billy storms off upset.
                
                
What should Suzy do?</string>
		</dict>
        <dict>
			<key>iconFileName</key>
			<string>problem-broken bear toy.png</string>
			<key>fileName</key>
			<string>billy_broken_beararm</string>
			<key>ID</key>
			<integer>304</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Talk to Suzy and apologize</string>
			<key>videoDescription</key>
			<string>Billy and Suzy are playing together when he accidentally rips an arm off of her teddy bear.
                
                
What should Billy do?</string>
		</dict>
        <dict>
			<key>iconFileName</key>
			<string>ask-to-play.png</string>
			<key>fileName</key>
			<string>billy_askforplay</string>
			<key>ID</key>
			<integer>305</integer>
			<key>mediaType</key>
			<string>MediaTypeVideo</string>
			<key>answer</key>
			<string>Offer to play with Billy</string>
			<key>videoDescription</key>
			<string>Suzy is playing with a teddy bear that Billy wants. Billy asks her for it.
                
                
What should Suzy do?</string>
		</dict>
	</array>
</dict>
</plist>
